body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
}

.legend {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.legend div {
    margin: 0 15px;
}

.legend .green, .legend .red {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.legend .green {
    background-color: green;
}

.legend .red {
    background-color: red;
}

.parking-area {
    width: 100%;
    height: calc(100vh - 80px);
    margin: 0 auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    overflow: hidden;
    touch-action: none;
}

.parking-slot {
    width: 100px;
    height: 150px;
}

.parking-slot.occupied {
    background-color: red;
}

.parking-slot.available {
    background-color: green;
}
